#iconmenu{
    display: none;
}
#menu{
    background-color: black;
}
#menu>li{
    width: 20%;
    text-align: center;
}
.nav-link{
    color: white;
}
#logo{
    font-size: xx-large;
    color: #f44336;
    text-shadow: gray;
    text-shadow: 5px 5px 5px;
    font-family: cursive;
}
#right{
    background-color: tomato;
}
h3{
    text-align: center;
}
h5{
    width: 55%;
    /*padding-left: 5%;*/
   /* float: left;*/
}
input{
    width: 85%;
    margin-bottom: 2%;   
}
.but1{
    border: white;
    background-color: black;
    color: white;
    font-size: large;
}
